*~
*.pyc
Makefile.in
aclocal.m4
autom4te.cache/
configure
data/Makefile.in
initscript/Makefile.in
install-sh
missing
py-compile
src/Makefile.in
src/srv/Makefile.in
src/web/Makefile.in
*.log
pellmon.conf
*.db
Makefile
config.status
initscript/pellmonsrv
initscript/pellmonweb
*.tar.gz
**/plugins/**/values.conf
pellmon_conf/
version.py
pellmoncli
