Source: pellmon
Section: web
Priority: extra
Maintainer: Anders Nylund <email@email.com>
Build-Depends: debhelper (>=9),
	autotools-dev,
	python,
	dh-python
Standards-Version: 3.9.5
Homepage: http://github.com/motoz/pellmon
Vcs-Git: git://anonscm.debian.org/collab-maint/pellmon.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/pellmon.git
X-Python-Version: >= 2.6

Package: pellmon
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
	python,
	adduser,
	rrdtool,
	python-serial,
	python-cherrypy3,
	python-dbus,
	python-mako,
	python-gobject,
	python-simplejson,
	python-dateutil,
	python-argcomplete,
	python-ws4py,
	python-crypto
Description: pellet burner logger
 Pellet burner logger with cli and web frontends

