Source: pellmon
Section: web
Priority: extra
Maintainer: Anders Nylund <email@email.com>
Build-Depends: autotools-dev, debhelper (>=9), dh-python, python
Standards-Version: 3.9.5
Homepage: http://github.com/motoz/pellmon
Vcs-Git: git://anonscm.debian.org/collab-maint/pellmon.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/pellmon.git
X-Python-Version: >= 2.6

Package: pellmon
Architecture: all
Multi-Arch: foreign
Depends: adduser,
         python,
         python-argcomplete,
         python-cherrypy3,
         python-dateutil,
         python-dbus,
         python-gobject,
         python-mako,
         python-serial,
         python-simplejson,
         python-crypto,
         python-ws4py,
         rrdtool,
         ${misc:Depends}
Description: pellet burner logger
 Pellet burner logger with cli and web frontends
