/**
 * Always show the scrollbar
 * to stop the layout form shifting
 * left/right when the page isn't high enough
 */
html {
    overflow-y: scroll;
}

body
{
background-color:#f3f3f3;
}

.selected {
text-decoration: none;
border-top: 3px solid; 
}

a:link {text-decoration:none; outline: none;}

.col-centered{
    display: inline-block;
}

#center
{
    text-align: center;
}

#left-align
{
    text-align: left"
}

/* fix for IE system image svg scaling error */
object {
    width: 100%;
}
